# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# PROD
# DATABASE_URL="postgres://3289b7b03ecce5ade72ad7ab4e90f421f78b65f95e66fdeb430372b487167f7d:sk_PxCRX-A3pZ0dHM6fBd-yR@db.prisma.io:5432/postgres?sslmode=require"

# DEV
NEXT_PUBLIC_APP_NAME="My App"
DATABASE_URL="postgresql://root:secret@db:5432/homestead?schema=public"
PASSWORD_SALT="your-secure-password-salt-here-change-this"
NODE_ENV="development"
JWT_SECRET=jeBnpd4TdryTL0mP0k5/cHA8/lS3zxacwAgY9Pi2MHA=
JWT_REFRESH_SECRET=JBNreov1NJ0HqCcinCzliavgBHSZzxn7LkkTpYGnB1I=

SUPER_ADMIN_PASSWORD=ChangeMeImmediately!

